blindbox {
    # Bind to all network interfaces
    bind 0.0.0.0

    # Use self-signed certificates
    tls internal

    handle_path /attest/* {
        # Attestation endpoint (user exposed)
        reverse_proxy http://127.0.0.1:8081
    }

    # Reverse proxy to the app
    reverse_proxy 127.0.0.1:8080
}